body {
    background-image: url(imagine/post.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 120%;
}
h1 {
    color: rgb(0, 10, 102);
    font-family: fantasy;
    text-shadow: white 3px 3px 2px;
}
#titulo {
    color: rgb(0, 10, 102);
    text-shadow: white 2px 2px 1px;
}
